.boxed{
  border: 5px solid purple;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.btnn{
  border:100px;
  color:orange;
  text-align:center;
  margin:10px 5px;
}
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQz_8R7cCsABA89JqIHfe3yWWHJ3wm4A4ICig&usqp=CAU");
  background-attachment:fixed;
  background-repeat: no-repeat;
 background-size: 100% 100%;
}

.s-input{
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Roboto,arial;
  outline: none !important;
  text-align: center;
  background: transparent;
  color: black;
  border: 2px solid purple;;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.s-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;

}
.gen-value{
  border-radius: 40px;
  padding: 8px 26px;
  background: rgb(163,85,178);
  color: black;
    border: 2px solid purple;
  outline: none !important;
  transition: 250ms ease;
  font-family: Roboto,arial;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 12px;
}
.gen-value:hover{
  background: rgb(114,60,125);
    outline: none;
}
.gen-value:active{
 transform: scale(0.9);
   outline: none;
}
 #barcode{

   border-radius: 20px;

 }
